name: Go Lint

on:
  workflow_call:
    inputs:
      working-directory:
        description: "Working directory"
        required: false
        type: string
        default: .
      harden-runner:
        description: "Harden runner"
        required: false
        type: boolean
        default: true
      cache:
        description: "Cache Go modules"
        required: false
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  golangci:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        if: ${{ inputs.harden-runner }}
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            raw.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            sum.golang.org:443
            proxy.golang.org:443
            storage.googleapis.com:443

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.25
          check-latest: true
          cache: false

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          args: --timeout 5m
          working-directory: ${{ inputs.working-directory }}
          skip-cache: ${{ !inputs.cache }}
