name: Go Lint

on:
  workflow_call:
    inputs:
      working-directory:
        description: "Working directory"
        required: false
        type: string
        default: .
      harden-runner:
        description: "Harden runner"
        required: false
        type: boolean
        default: true
      cache:
        description: "Cache Go modules"
        required: false
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  golangci:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        if: ${{ inputs.harden-runner }}
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            raw.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            sum.golang.org:443
            proxy.golang.org:443
            storage.googleapis.com:443

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 1.25
          check-latest: true
          cache: false

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: latest
          args: --timeout 5m
          working-directory: ${{ inputs.working-directory }}
          skip-cache: ${{ !inputs.cache }}
