name: Lint Code Base

on:
  push:
  pull_request:
  workflow_call:
    inputs:
      check-all:
        description: "Check entire codebase"
        required: false
        type: boolean
        default: true
      harden-runner:
        description: "Harden runner"
        required: false
        type: boolean
        default: true

permissions:
  contents: read

jobs:
  determine:
    name: Determine changed files
    runs-on: ubuntu-24.04
    outputs:
      use_full: ${{ steps.combine.outputs.any_changed == 'true' }}
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        if: ${{ github.event_name != 'workflow_call' || inputs.harden-runner }}
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Determine changed files
        id: determine-changed
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files: |
            "**.rs"
            "Cargo.toml"
            "Cargo.lock"
            "**.cs"
            "**.csproj"
            "**.sln"

      - name: Determine contained files
        id: determine-contained
        run: |
          patterns=("*.rs" "Cargo.toml" "Cargo.lock" "*.cs" "*.csproj" "*.sln")
          files=()
          has_changes=false
          for pattern in "${patterns[@]}"; do
            if [ -n "$(find . -name "$pattern")" ]; then
              files+=("$pattern")
              has_changes=true
            fi
          done
          if [ "${#files[@]}" -gt 0 ]; then
            echo "any_changed=true" >> $GITHUB_OUTPUT
          else
            echo "any_changed=false" >> $GITHUB_OUTPUT
          fi

      - name: Combine outputs
        id: combine
        run: |
          if [[ "${{ inputs.check-all }}" == true ]]; then
            echo "Checking entire codebase"
            echo "use_full: ${{ steps.determine-contained.outputs.any_changed }}"
            echo "any_changed=${{ steps.determine-contained.outputs.any_changed }}" >> $GITHUB_OUTPUT
          else
            echo "Checking only changed files"
            echo "use_full: ${{ steps.determine-changed.outputs.any_changed }}"
            echo "any_changed=${{ steps.determine-changed.outputs.any_changed }}" >> $GITHUB_OUTPUT
          fi

  linter:
    name: Lint Code Base
    runs-on: ubuntu-24.04
    if: ${{ needs.determine.outputs.use_full == 'true' || inputs.check-all }}
    needs: determine
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        if: ${{ github.event_name != 'workflow_call' || inputs.harden-runner }}
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Lint codebase - full
        uses: super-linter/super-linter@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99 # v8.3.2
        env:
          VALIDATE_ALL_CODEBASE: ${{ inputs.check-all }}
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_GO: false
          VALIDATE_JSCPD: false
          VALIDATE_DOCKERFILE_HADOLINT: false
          VALIDATE_RUST_2015: false
          VALIDATE_RUST_2018: false
          VALIDATE_RUST_CLIPPY: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_INCLUDE: ".*go.mod"

  linter-slim:
    name: Lint Code Base
    runs-on: ubuntu-24.04
    if: ${{ needs.determine.outputs.use_full == 'false' && !inputs.check-all }}
    needs: determine
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        if: ${{ github.event_name != 'workflow_call' || inputs.harden-runner }}
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Lint codebase - slim
        uses: super-linter/super-linter/slim@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99 # v8.3.2
        env:
          VALIDATE_ALL_CODEBASE: ${{ inputs.check-all }}
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_GO: false
          VALIDATE_JSCPD: false
          VALIDATE_DOCKERFILE_HADOLINT: false
          VALIDATE_RUST_2015: false
          VALIDATE_RUST_2018: false
          VALIDATE_RUST_CLIPPY: false
          VALIDATE_TYPESCRIPT_STANDARD: false # related https://github.com/super-linter/super-linter/issues/4445
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_INCLUDE: ".*go.mod"
