name: Prettier

on:
  workflow_call:
    inputs:
      working-directory:
        description: "Working directory"
        required: false
        type: string
        default: .
      harden-runner:
        description: "Harden runner"
        required: false
        type: boolean
        default: true

permissions:
  contents: read

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        if: ${{ inputs.harden-runner }}
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          check-latest: true

      - name: Install dependencies
        run: npm ci

      - name: Run prettier
        run: |
          if [ -d "src" ]; then
            dir="src"
          elif [ -d "app" ]; then
            dir="app"
          else
            dir="."
          fi

          if [ -f ".prettierrc" ]; then
            npx prettier --config .prettierrc "${dir}/**/*.{ts,tsx,js,vue,html}" --check
          else
            npx prettier "${dir}/**/*.{ts,tsx,js,vue,html}" --check
          fi
