name: Release

on:
  workflow_call:
    inputs:
      tag_name:
        type: string
        description: "The tag name of the release"
        required: false
        default: ${{ github.ref_name }}
      harden-runner:
        description: "Harden runner"
        required: false
        type: boolean
        default: true

permissions:
  contents: read

jobs:
  release:
    name: Release on GitHub
    if: github.repository_owner == 'harryzcy'
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        if: ${{ inputs.harden-runner }}
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Publish Release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { data: releases } = await github.rest.repos.listReleases({
              owner: context.repo.owner,
              repo: context.repo.repo
            })
            let releaseId = null;
            for (const release of releases) {
              if (release.draft) {
                releaseId = release.id
                break
              }
            }

            await github.rest.repos.updateRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: releaseId,
              tag_name: '${{ inputs.tag_name }}',
              name: 'Release ${{ inputs.tag_name }}',
              draft: context.eventName != 'push'
            })
