name: Release Drafter

on:
  workflow_call:
    inputs:
      harden-runner:
        description: "Harden runner"
        required: false
        type: boolean
        default: true

permissions:
  contents: read

jobs:
  update:
    name: Update
    if: github.repository_owner == 'harryzcy'
    permissions:
      contents: write
      pull-requests: write
    concurrency:
      group: ci-release-drafter
      cancel-in-progress: false
    runs-on: ubuntu-24.04
    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        if: ${{ inputs.harden-runner }}
        with:
          egress-policy: audit

      - name: Run release-drafter
        uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6.2.0
        with:
          commitish: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
